@model IEnumerable<Trial3.Models.UserDonation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1> <strong><i>Thanks For You Charity @ViewBag.UserName</i></strong></h1>
</div>
<br />
<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items.ItemsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Items.ItemsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
   </tr>
}

</table>
